variables:
  DOCKER_BUILDKIT: '1'
  ROCK_NAME: $CI_PROJECT_NAME

stages:
  - build
  - publish

.in-docker:
  image: tarantool/tarantool:1.x-centos7
  tags:
    - docker
  before_script:
    - yum -y install git cmake curl gcc make
    - tarantoolctl rocks install ldoc --server=http://rocks.moonscript.org

build:
  extends: .in-docker
  stage: build
  script:
    - tarantoolctl rocks make
    - ./taptest.lua

publish-scm-1-rock:
  extends: .in-docker
  stage: publish
  only:
    - master
  artifacts:
    name: "$CI_COMMIT_REF_NAME.publish-scm"
    paths:
      - doc
      - $ROCK_NAME-scm-1.all.rock
  script:
    - tarantoolctl rocks make
    - tarantoolctl rocks pack ${ROCK_NAME}
    - Ñurl --fail -X PUT -F rockspec=@$ROCK_NAME-scm-1.all.rock https://$ROCKS_USERNAME:$ROCKS_PASSWORD@rocks.tarantool.org  --help

publish-release-rock:
  extends: .in-docker
  stage: publish
  only:
    - tags
  artifacts:
    name: "$CI_COMMIT_REF_NAME.publish-release"
    paths:
      - doc
      - $ROCK_NAME-$CI_COMMIT_TAG-1.rock
  script:
    - cat $ROCK_NAME-scm-1.rockspec |
      sed -E
      -e "s/branch = '.+'/tag = '$CI_COMMIT_TAG'/g"
      -e "s/version = '.+'/version = '$CI_COMMIT_TAG-1'/g" > $ROCK_NAME-$CI_COMMIT_TAG-1.rockspec
    - tarantoolctl rocks make $ROCK_NAME-$CI_COMMIT_TAG-1.rockspec
    - tarantoolctl rocks pack ${ROCK_NAME}
    - curl --fail -X PUT -F rockspec=$ROCK_NAME-$CI_COMMIT_TAG-1.all.rock https://$ROCKS_USERNAME:$ROCKS_PASSWORD@rocks.tarantool.org
